.expense-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &__item {
        background-color: $background;
        padding: 0.25rem 0.5rem;
        display: grid;
        grid-template-areas: "header tags amount"
                             "note note amount";
        justify-content: space-between;
        gap: 0.5em;

        &__header {
            grid-area: header;
            display: flex;
            flex-direction: column;
            gap: 0.2em;

            &__description {
                margin: 0;
                padding: 0;
                font: 500 1.35em/1 $ff-accent;
                letter-spacing: -0.025em;

                &--link {
                    text-decoration: none;
                    font: inherit;
                }
            }

            &__date {
                margin: 0;
                padding: 0;
                font-size: 0.7em;
                font-style: italic;
                color: $grey;
                font-weight: 400;
                font: 400 tabular-nums 0.7em/1 $ff-accent;
            }
        }

        &__note {
            grid-area: note;
        }

        &__amount {
            grid-area: amount;
            align-self: center;
        }
    }
}