.add-expense {
    position: relative;
    
    &__error-box {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // z-index: 1000;
        
        display: grid;
        
        padding: 0.75rem;
        text-align: center;
        min-height: 5rem;
        height: min-content;
        min-width: 15rem;

        place-items: center;
        gap: 0.6rem;
    }
}

.expense-form {
    display: grid;
    margin: 0 auto;
    width: min-content;
    gap: 0.5em 1em;
    grid-template-columns: min-content 1fr;
    background-color: $bg-white;
    padding: 2em 3em;
    border-radius: 0.75em;
    position: relative;

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__date {
        justify-self: end;
        grid-column: 2;
    }

    &__amount {
        display: flex;
        flex-flow: row nowrap;
        width: max-content;
    }

    &__submit {
        font-size: 1.1em;
        border-radius: 0.15em;
        padding: 0.25em 0.5em;
    }
    &::after {
        display: box;
        position: absolute;
        width: 130%;
        height: 130%;
        background: orange;
    }
}