@use "../base/light"

.add-expense
	position: relative
	
	&__error-box
		display: grid
		place-items: center
		gap: 0.6rem
		
		min-height: 5rem
		height: min-content
		min-width: 15rem
		padding: 0.75rem
		text-align: center

.expense-form
	display: grid
	gap: 0.6em 1em
	display: flex
	flex-flow: row wrap
	position: relative
	margin: 1.5rem auto 0
	padding: 1em 2em 1.25em
	border-radius: 0.3em
	max-width: 35rem
	min-width: 15rem

	background-color: light.$secondary-container
	color: light.$on-secondary-container
	box-shadow: $shadow

	& > *
		flex: 12.5rem 1 0

	&__title
		background: none
		font: 500 1.8em/1 $ff-accent
		height: max-content
		margin-block: 0.1em 0.6em
		overflow-y: hidden
		flex-basis: 100%
		border: none
		resize: none

		&:focus-visible
			outline: none
		
		&::placeholder
			color: light.$on-secondary-container
			opacity: 0.6

	& fieldset
		border: none
		margin: 0
		padding: 0

	&__note
		width: 100%
		flex-basis: 100%

	&__submit
		font: 500 1.1em/1 $ff-primary
		width: 100%
		flex-basis: 100%
		border-radius: 2.5em
		padding: 0.5em 1.1em