.expense-filters {
    display: flex;
    flex-flow: row wrap;
    &__dates {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        & > * {
            width: min-content;
        }
        &__input {
            width: min-content;
        }
    }
}