.expense-filters {
    &__dates {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        // grid-template-columns: 1fr 1fr;
        & > * {
            width: min-content;
        }
        &__input {
            width: min-content;
        }
    }
}