.expense-filters
	$gap: 0.3rem
	display: flex
	flex-flow: row wrap
	flex-basis: 25%
	gap: $gap
	
	&__dates
		display: flex
		flex-flow: row wrap
		gap: $gap
		justify-content: start

		& > *
			width: min-content
		&__input 
			width: min-content