.page-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1em;
    margin: 1em auto;
    width: max-content;
    padding: 0.25em 0.5em;

    &__logo {
        display: inline-block;
        width: min(20%, 5rem);
    }

    &__nav{
        display: flex;
        flex-flow: row nowrap;
        width: min(25%, 100vw);
        justify-content: space-between;
        gap: 1em;

        &__link{
            width: max-content;
            text-decoration: none;
            font-size: $fs-body-1;

            &--active {
                color: #7834FF;
            }
        }
    }
}