.input {
    display: grid;
    position: relative;
    background-color: white;
    border-radius: 0.3em;
    grid-template-areas: "main";
    justify-self: center;
    padding: 1.15em 0.9em 0.5em;
    margin-block: 0.4em 0.8em;
    border: 0.075em solid #333;
    width: max-content;
    height: max-content;

    &--active {
        border-color: $accent-1;
    }

    &__label {
        font-size: 1em;
        color: grey;
        font-weight: 400;
        grid-area: main;
        transition: all 200ms;
        z-index: 1000;
        transform: translateY(-30%);

        &--active {
            transform: translateY(-80%);
            font-weight: 400;
            font-size: 0.7em;
        }
    }

    &__input {
        grid-area: main;

        background: none;
        outline: none;
        border: none;
        &:focus-visible {
            outline: none;
        }
    }
}