.input
	display: grid
	position: relative
	border-radius: 0.5em
	grid-template-areas: "main"
	padding: 0.45em 1em
	max-height: max-content
	width: 100%
	border-width: 2px
	border-style: solid
	background-color: var(--container)
	border-color: var(--placeholder-colour, #fff)

	&--text
		cursor: text

	&--active
		border-color: var(--colour)

	&__label
		@include unselectable()
		font-size: 1em
		font-weight: 400
		transition-property: font-size, transform, opacity
		transition-duration: 150ms
		transition-timing-function: ease
		width: 100%

		transform: translateY(40%)
		grid-area: main
		pointer-events: none
		height: 1em
		color: var(--placeholder-colour)

		&--active
			transform: translateY(-40%)
			color: var(--colour)
			font-weight: 400
			font-size: 0.75em
			opacity: 1

	&__input
		grid-area: main
		padding-block-start: 0.8rem
		height: max-content
		width: 100%

		background: none
		outline: none
		border: none
		align-self: end
		color: var(--on-container)

		&--select
			height: max-content
			cursor: pointer
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none

			&__option 
				cursor: pointer

		&:focus-visible 
			outline: none
	
	&__select
		grid-area: main
		display: grid
		height: max-content
		width: 100%

		background: none
		outline: none
		border: none
		align-self: end
		&__control
			display: grid
			grid-template-areas: "value dropdown"
			grid-template-columns: 1fr auto
		&__value-container
			cursor: text
			grid-area: value
			width: 100%
			padding-block-start: 0.8rem !important
			height: max-content
		
		&--no-search &__value-container
			cursor: default
		&__menu
			color: var(--on-background)
			background: var(--background)
		&__indicator-seperator
			padding: 0
			height: 100%
			align-self: center !important
		&__indicators
			color: var(--on-container) !important
			cursor: pointer
			grid-area: dropdown
			display: flex
			flex-flow: row nowrap
			overflow-y: visible
			align-self: center !important
			align-items: center

	&__textarea
		resize: none
		overflow-y: hidden
		&::placeholder
			color: var(--placeholder-colour)
			transition: opacity ease 150ms

	&__label:not(&__label--active) + &__input::placeholder
		opacity: 0

.react-datepicker
	&__day
		border-radius: 100%
		&:hover
			border-radius: 100%
		&--outside-month
			opacity: 0.25
		&--today
			background-color: var(--colour)
			color: var(--on-colour)

			&:hover
				filter: saturate(150%)
				background-color: var(--colour)
