.input {
    display: grid;
    position: relative;
    background-color: white;
    border-radius: 0.3em;
    grid-template-areas: "main";
    justify-self: center;
    padding: 1.1em 1em 0.45em;
    margin-block: 0.4em 0.8em;
    border: 0.075em solid #333;
    width: max-content;
    height: max-content;

    &--text {
        cursor: text;
    }

    &--select {
        cursor: default;
    }

    &--active {
        border-color: $accent-1;
    }

    &__label {
        @include unselectable();
        font-size: 1em;
        color: grey;
        font-weight: 400;
        grid-area: main;
        transition: all 200ms;
        z-index: 1000;
        transform: translateY(-30%);
        pointer-events: none;
        height: 1em;

        &--active {
            transform: translateY(-125%);
            font-weight: 400;
            color: $accent-1;
            font-size: 0.7em;
        }
    }

    &__input {
        grid-area: main;

        background: none;
        outline: none;
        border: none;

        &--select {
            margin-left: -0.3em;
            height: max-content;
            cursor: pointer;
        }

        &:focus-visible {
            outline: none;
        }
    }
}